/* This file is for your main application css. */
footer.g-footer div.gf-inner-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 729px) {
    footer.g-footer div.gf-inner-wrapper {
      display: block; } }
footer.g-footer nav div.gf-inner-wrapper {
  padding: 20px 0;
  border-top: 2px solid #c993fe;
  align-items: flex-start; }
  @media (max-width: 1199px) {
    footer.g-footer nav div.gf-inner-wrapper {
      padding: 20px 10px;
      flex-wrap: wrap; } }
  footer.g-footer nav div.gf-inner-wrapper div.column {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 10px; }
    @media (max-width: 729px) {
      footer.g-footer nav div.gf-inner-wrapper div.column {
        margin-bottom: 20px;
        text-align: right; }
        footer.g-footer nav div.gf-inner-wrapper div.column:last-child {
          margin-bottom: 0; } }
    footer.g-footer nav div.gf-inner-wrapper div.column header {
      color: #4535be;
      line-height: 25px;
      margin-bottom: 15px;
      font-size: 20px;
      font-family: "Gotham Pro";
      font-weight: 400; }
      @media (max-width: 1199px) {
        footer.g-footer nav div.gf-inner-wrapper div.column header {
          font-size: 16px;
          margin-bottom: 5px; } }
    footer.g-footer nav div.gf-inner-wrapper div.column ul.links {
      margin: 0;
      padding: 0;
      list-style: none; }
      footer.g-footer nav div.gf-inner-wrapper div.column ul.links li {
        margin-bottom: 5px; }
        footer.g-footer nav div.gf-inner-wrapper div.column ul.links li:last-child {
          margin-bottom: 0; }
      footer.g-footer nav div.gf-inner-wrapper div.column ul.links a {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 17px;
        line-height: 25px;
        position: relative;
        text-decoration: none;
        font-weight: 400; }
        @media (max-width: 1199px) {
          footer.g-footer nav div.gf-inner-wrapper div.column ul.links a {
            font-size: 14px;
            line-height: 20px; } }
        footer.g-footer nav div.gf-inner-wrapper div.column ul.links a:hover {
          color: #4535be; }
          footer.g-footer nav div.gf-inner-wrapper div.column ul.links a:hover:after {
            opacity: 1;
            transform: none; }
        footer.g-footer nav div.gf-inner-wrapper div.column ul.links a:after {
          content: "";
          position: absolute;
          top: auto;
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          background: rgba(69, 53, 190, 0.54);
          opacity: 0;
          transform: translateX(-100%) translateZ(0);
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1); }
footer.g-footer div.bottom {
  height: 50px;
  background: linear-gradient(45deg, #c993fe, #4132bc);
  color: white; }
  @media (max-width: 729px) {
    footer.g-footer div.bottom {
      height: auto; } }
  footer.g-footer div.bottom div.gf-inner-wrapper {
    height: 100%;
    padding: 0 10px; }
    @media (max-width: 1199px) {
      footer.g-footer div.bottom div.gf-inner-wrapper {
        padding: 0 20px; } }
    @media (max-width: 729px) {
      footer.g-footer div.bottom div.gf-inner-wrapper {
        padding: 15px; } }
    footer.g-footer div.bottom div.gf-inner-wrapper span {
      font-size: 14px;
      font-weight: 500;
      font-family: "Gotham Pro"; }
      @media (max-width: 729px) {
        footer.g-footer div.bottom div.gf-inner-wrapper span {
          display: block;
          text-align: center;
          font-size: 12px;
          margin-bottom: 10px; }
          footer.g-footer div.bottom div.gf-inner-wrapper span:last-child {
            margin-bottom: 0; } }

nav.g-main-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: 80px;
  background: rgba(255, 255, 255, 0.05);
  z-index: 1201;
  color: white; }
  nav.g-main-menu div.mm-inner-wrapper {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    nav.g-main-menu div.mm-inner-wrapper .item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-decoration: none;
      padding: 0 10px;
      font-size: 16px;
      font-weight: 500;
      font-family: "Gotham Pro"; }
      @media (max-width: 1199px) {
        nav.g-main-menu div.mm-inner-wrapper .item {
          font-size: 14px; } }
    nav.g-main-menu div.mm-inner-wrapper .hoverable {
      cursor: pointer;
      transition: background 450ms cubic-bezier(0.23, 1, 0.32, 1); }
      nav.g-main-menu div.mm-inner-wrapper .hoverable:hover {
        background: rgba(255, 255, 255, 0.12); }
    nav.g-main-menu div.mm-inner-wrapper section {
      flex-grow: 0;
      flex-shrink: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      nav.g-main-menu div.mm-inner-wrapper section.logo {
        display: block; }
        nav.g-main-menu div.mm-inner-wrapper section.logo .item {
          font-size: 30px;
          font-family: "Gotham Pro";
          font-weight: 700; }
          @media (max-width: 1199px) {
            nav.g-main-menu div.mm-inner-wrapper section.logo .item {
              font-size: 24px; } }
          nav.g-main-menu div.mm-inner-wrapper section.logo .item img {
            height: 48px;
            margin-right: 15px; }
            @media (max-width: 1199px) {
              nav.g-main-menu div.mm-inner-wrapper section.logo .item img {
                height: 32px; } }
      @media (max-width: 729px) {
        nav.g-main-menu div.mm-inner-wrapper section.navigation {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: auto;
          display: block;
          padding: 15px;
          padding-top: 95px;
          pointer-events: none;
          opacity: 0;
          transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1); }
          nav.g-main-menu div.mm-inner-wrapper section.navigation .item {
            line-height: 40px;
            width: 100%;
            height: auto;
            border-bottom: 1px solid rgba(255, 255, 255, 0.12); }
            nav.g-main-menu div.mm-inner-wrapper section.navigation .item:last-child {
              border: none;
              margin-top: 20px; } }
      nav.g-main-menu div.mm-inner-wrapper section.menu-button {
        display: none;
        width: 80px;
        height: 100%; }
        @media (max-width: 729px) {
          nav.g-main-menu div.mm-inner-wrapper section.menu-button {
            display: flex;
            align-items: center;
            justify-content: center; }
            nav.g-main-menu div.mm-inner-wrapper section.menu-button div.mb-icon {
              width: 30px;
              height: 2px;
              background: white;
              position: relative;
              transition: transform 450ms cubic-bezier(0.45, 0.06, 0, 1.52); }
              nav.g-main-menu div.mm-inner-wrapper section.menu-button div.mb-icon:before, nav.g-main-menu div.mm-inner-wrapper section.menu-button div.mb-icon:after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background: white;
                transition: transform 450ms cubic-bezier(0.45, 0.06, 0, 1.52); }
              nav.g-main-menu div.mm-inner-wrapper section.menu-button div.mb-icon:before {
                top: -8px; }
              nav.g-main-menu div.mm-inner-wrapper section.menu-button div.mb-icon:after {
                bottom: -8px; } }
  @media (max-width: 729px) {
    nav.g-main-menu:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: linear-gradient(45deg, #c993fe, #4132bc);
      opacity: 0;
      transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1);
      pointer-events: none; }
    nav.g-main-menu.visible:before {
      opacity: 1;
      pointer-events: all; }
    nav.g-main-menu.visible div.mm-inner-wrapper section.menu-button div.mb-icon {
      transform: rotate(45deg) translateZ(0); }
      nav.g-main-menu.visible div.mm-inner-wrapper section.menu-button div.mb-icon:before {
        transform: rotate(-90deg) translateX(0px) scaleX(0.5); }
      nav.g-main-menu.visible div.mm-inner-wrapper section.menu-button div.mb-icon:after {
        transform: rotate(90deg) translateX(0px) scaleX(0.5); }
    nav.g-main-menu.visible div.mm-inner-wrapper section.navigation {
      opacity: 1; }
      nav.g-main-menu.visible div.mm-inner-wrapper section.navigation .item {
        pointer-events: all; } }

div.c-locale-select {
  width: 200px;
  color: white;
  position: relative; }
  @media (max-width: 899px) {
    div.c-locale-select {
      width: auto; } }
  @media (max-width: 729px) {
    div.c-locale-select {
      width: 100%; } }
  div.c-locale-select div.selected {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.28);
    transition: background 450ms cubic-bezier(0.23, 1, 0.32, 1); }
    div.c-locale-select div.selected:hover {
      background: rgba(255, 255, 255, 0.38); }
  div.c-locale-select .ls-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 40px;
    cursor: pointer;
    text-decoration: none; }
    div.c-locale-select .ls-item * {
      pointer-events: none; }
    div.c-locale-select .ls-item .before, div.c-locale-select .ls-item .after {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 0;
      flex-shrink: 0; }
    div.c-locale-select .ls-item .content {
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0 5px 0 10px;
      font-size: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      @media (max-width: 899px) {
        div.c-locale-select .ls-item .content {
          display: none; } }
      @media (max-width: 729px) {
        div.c-locale-select .ls-item .content {
          display: block; } }
  div.c-locale-select .ls-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    border-radius: 20px;
    background: white;
    overflow: auto;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1); }
    div.c-locale-select .ls-list.hidden {
      opacity: 0;
      pointer-events: none; }
    div.c-locale-select .ls-list .ls-item {
      color: rgba(65, 50, 188, 0.54);
      border-bottom: 1px solid rgba(65, 50, 188, 0.12);
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1); }
      div.c-locale-select .ls-list .ls-item:last-child {
        border-bottom: none; }
      div.c-locale-select .ls-list .ls-item:hover {
        background: rgba(65, 50, 188, 0.12);
        color: #4132bc; }
      div.c-locale-select .ls-list .ls-item.list-selected {
        background: rgba(65, 50, 188, 0.06);
        color: #4132bc; }
        div.c-locale-select .ls-list .ls-item.list-selected .after {
          opacity: 0.54; }
      div.c-locale-select .ls-list .ls-item .before {
        box-shadow: 0 0 0 1px rgba(65, 50, 188, 0.24); }

@charset "UTF-8";
html, body {
  position: relative;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

body {
  overflow-y: scroll; }

body, body * {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next Cyr";
  font-weight: 500;
  box-sizing: border-box;
  color: inherit; }

@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  src: local("Gotham Pro Regular"), local("GothamPro"), url("../fonts/GothamPro.woff") format("woff"); }
@font-face {
  font-family: "Gotham Pro";
  font-weight: 500;
  src: local("Gotham Pro Medium"), local("GothamProMedium"), url("../fonts/GothamProMedium.woff") format("woff"); }
@font-face {
  font-family: "Gotham Pro";
  font-weight: 700;
  src: local("Gotham Pro Bold"), local("GothamProBold"), url("../fonts/GothamProBold.woff") format("woff"); }
@font-face {
  font-family: "Avenir Next Cyr";
  font-weight: 400;
  src: local("Avenir Next Cyr"), local("AvenirNextCyrRegular"), url("../fonts/AvenirNextCyrRegular.woff") format("woff"); }
@font-face {
  font-family: "Avenir Next Cyr";
  font-weight: 500;
  src: local("Avenir Next Cyr Medium"), local("AvenirNextCyrMedium"), url("../fonts/AvenirNextCyrMedium.woff") format("woff"); }
@font-face {
  font-family: "Avenir Next Cyr";
  font-weight: 700;
  src: local("Avenir Next Cyr Bold"), local("AvenirNextCyrBold"), url("../fonts/AvenirNextCyrBold.woff") format("woff"); }
main.v-pricing-tables {
  background: linear-gradient(45deg, #c993fe, #4132bc);
  padding-top: 80px;
  min-height: 100vh; }
  main.v-pricing-tables h1 {
    font-size: 38px;
    line-height: 50px;
    margin: 45px 0 35px 0;
    text-align: center;
    font-family: "Gotham Pro";
    font-weight: 500;
    color: white; }
    @media (max-width: 729px) {
      main.v-pricing-tables h1 {
        padding: 0 10px;
        font-size: 24px;
        line-height: 25px;
        font-weight: 500;
        margin: 20px 0; } }
  main.v-pricing-tables div.switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    z-index: 2; }
    @media (max-width: 729px) {
      main.v-pricing-tables div.switch-wrapper {
        padding: 0 10px; } }
    main.v-pricing-tables div.switch-wrapper.monthly label.left {
      color: white; }
    main.v-pricing-tables div.switch-wrapper.monthly label.right {
      color: rgba(255, 255, 255, 0.54); }
    main.v-pricing-tables div.switch-wrapper.monthly div.switch div.switch-thumb {
      transform: translateX(-30px) translateZ(0); }
    main.v-pricing-tables div.switch-wrapper.monthly ~ div.pricing-tables section.pricing-table div.content-wrapper div.content span.value:before {
      content: attr(data-monthly); }
    main.v-pricing-tables div.switch-wrapper label {
      flex-grow: 1;
      flex-shrink: 1;
      line-height: 35px;
      font-size: 25px;
      width: 100%;
      font-weight: 400;
      transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1); }
      @media (max-width: 899px) {
        main.v-pricing-tables div.switch-wrapper label {
          font-size: 20px; } }
      @media (max-width: 729px) {
        main.v-pricing-tables div.switch-wrapper label {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-align: center; } }
      main.v-pricing-tables div.switch-wrapper label.left {
        text-align: right;
        color: rgba(255, 255, 255, 0.54); }
      main.v-pricing-tables div.switch-wrapper label.right {
        text-align: left; }
        main.v-pricing-tables div.switch-wrapper label.right span {
          display: inline-block;
          vertical-align: top;
          line-height: 25px;
          padding: 0 10px;
          background: #f69;
          font-size: 16px;
          font-weight: 400;
          color: white !important; }
          @media (min-width: 730px) {
            main.v-pricing-tables div.switch-wrapper label.right span {
              position: relative;
              top: -5px; } }
          @media (max-width: 899px) {
            main.v-pricing-tables div.switch-wrapper label.right span {
              font-size: 18px; } }
          @media (max-width: 729px) {
            main.v-pricing-tables div.switch-wrapper label.right span {
              font-size: 12px;
              font-weight: 700;
              line-height: 20px;
              padding: 0 5px; } }
    main.v-pricing-tables div.switch-wrapper div.switch {
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0 15px;
      width: 60px;
      height: 30px;
      border-radius: 15px;
      background: #513dc3;
      box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.38);
      cursor: pointer; }
      main.v-pricing-tables div.switch-wrapper div.switch div.switch-thumb {
        width: 30px;
        height: 30px;
        margin-left: auto;
        background: linear-gradient(45deg, #a5c63b, #2ecc71);
        border-radius: 50%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
        transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1); }
  main.v-pricing-tables div.pricing-tables {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: -100px; }
    @media (max-width: 1299px) {
      main.v-pricing-tables div.pricing-tables {
        margin-top: 0;
        padding: 55px 10px;
        align-items: center; } }
    @media (max-width: 899px) {
      main.v-pricing-tables div.pricing-tables {
        display: block; } }
    @media (max-width: 729px) {
      main.v-pricing-tables div.pricing-tables {
        padding: 20px 10px; } }
    main.v-pricing-tables div.pricing-tables section.pricing-table {
      position: relative; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.disabled {
        opacity: 0.38;
        pointer-events: none;
        filter: grayscale(100%); }
        main.v-pricing-tables div.pricing-tables section.pricing-table.disabled > img {
          opacity: 0; }
        main.v-pricing-tables div.pricing-tables section.pricing-table.disabled div.content-wrapper div.content div.actions .main-action {
          box-shadow: none; }
      @media (min-width: 1300px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table.trial > img {
          min-width: 590px;
          min-height: 1115px; } }
      main.v-pricing-tables div.pricing-tables section.pricing-table.trial div.content-wrapper {
        padding: 155px 102px 364px 102px; }
        @media (min-width: 1300px) {
          main.v-pricing-tables div.pricing-tables section.pricing-table.trial div.content-wrapper div.content {
            min-height: 600px; } }
      main.v-pricing-tables div.pricing-tables section.pricing-table.trial div.subprice {
        color: #f48e17; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.trial .main-action {
        background: linear-gradient(135deg, #fbbc05, #f38b18) !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.trial .subaction {
        color: #f48e17;
        border-color: #f48e17 !important; }
      @media (min-width: 1300px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table.basic > img {
          min-width: 590px;
          min-height: 1150px; } }
      main.v-pricing-tables div.pricing-tables section.pricing-table.basic div.content-wrapper {
        padding: 162px 102px 364px 102px; }
        @media (min-width: 1300px) {
          main.v-pricing-tables div.pricing-tables section.pricing-table.basic div.content-wrapper div.content {
            min-height: 655px; } }
      main.v-pricing-tables div.pricing-tables section.pricing-table.basic div.subprice {
        color: #34a853; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.basic .main-action {
        background: linear-gradient(135deg, #a5c63b, #2ecc71) !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.basic .subaction {
        color: #7fa720;
        border-color: #7fa720 !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.basic div.sign {
        position: relative;
        overflow: hidden; }
        main.v-pricing-tables div.pricing-tables section.pricing-table.basic div.sign:after {
          content: " ";
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          bottom: auto;
          background: red;
          height: 1px;
          transform: rotate(-5deg); }
      @media (min-width: 1300px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table.pro > img {
          min-width: 590px;
          min-height: 1185px; } }
      main.v-pricing-tables div.pricing-tables section.pricing-table.pro div.content-wrapper {
        padding: 172px 102px 364px 102px; }
        @media (min-width: 1300px) {
          main.v-pricing-tables div.pricing-tables section.pricing-table.pro div.content-wrapper div.content {
            min-height: 705px; } }
      main.v-pricing-tables div.pricing-tables section.pricing-table.pro div.subprice {
        color: #5340c5; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.pro .main-action {
        background: linear-gradient(135deg, #be8bf9, #4032bc) !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.pro .subaction {
        color: #8160db;
        border-color: #8160db !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content {
          width: 100%;
          background: white;
          padding: 25px;
          padding-bottom: 48px; }
          @media (max-width: 1199px) {
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content {
              padding: 15px; } }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content span.value:before {
            content: attr(data-yearly); }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content h2 {
            line-height: 70px;
            font-size: 30px;
            text-align: center;
            font-weight: 400; }
            @media (max-width: 1199px) {
              main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content h2 {
                font-size: 24px;
                line-height: 60px; } }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper {
            text-align: center; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price {
              line-height: 70px;
              height: 70px;
              font-size: 56px; }
              @media (max-width: 1199px) {
                main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price {
                  line-height: 52px;
                  height: 52px;
                  font-size: 36px; } }
              main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price span {
                font-weight: 700; }
                main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price span.before {
                  font-size: 33px; }
                  @media (max-width: 1199px) {
                    main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price span.before {
                      font-size: 24px; } }
                main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price span.after {
                  font-size: 20px; }
                  @media (max-width: 1199px) {
                    main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price span.after {
                      font-size: 18px; } }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.subprice {
              font-size: 18px;
              line-height: 35px;
              font-family: "Gotham Pro";
              font-weight: 500; }
              @media (max-width: 1199px) {
                main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.subprice {
                  font-size: 16px;
                  line-height: 30px; } }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions {
            margin-top: 25px; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions a {
              text-decoration: none; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .main-action {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              max-width: 320px;
              margin: 0 auto;
              text-align: center;
              background: black;
              font-size: 17px;
              line-height: 27px;
              font-weight: 400;
              font-family: "Gotham Pro";
              color: white;
              height: 50px;
              border-radius: 25px;
              box-shadow: 0 5px 15px 1px rgba(217, 217, 217, 0.64); }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .subaction {
              pointer-events: all !important;
              cursor: pointer;
              display: flex;
              width: 100%;
              max-width: 300px;
              margin: 0 auto;
              margin-top: 25px;
              align-items: center;
              justify-content: space-between;
              border: 2px solid black;
              padding: 0 10px; }
              main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .subaction span {
                font-size: 15px;
                font-weight: 400;
                font-family: "Gotham Pro";
                line-height: 20px; }
                @media (max-width: 1199px) {
                  main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .subaction span {
                    font-size: 14px; } }
              main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .subaction img {
                width: 54px;
                height: 54px;
                margin-left: 10px; }
                @media (max-width: 1199px) {
                  main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .subaction img {
                    width: 48px;
                    height: 48px; } }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content ul.benefits {
            margin-bottom: 10px;
            padding-left: 40px;
            margin-top: 25px; }
            @media (max-width: 1199px) {
              main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content ul.benefits {
                padding-left: 20px; } }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content ul.benefits li {
              margin-bottom: 5px;
              font-size: 17px;
              font-weight: 400;
              font-family: "Gotham Pro";
              line-height: 22px; }
              @media (max-width: 1199px) {
                main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content ul.benefits li {
                  font-size: 14px;
                  line-height: 20px; } }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.sign {
            text-align: center; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.sign img {
              max-width: 100%; }
      @media (max-width: 1600px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table {
          flex-grow: 0;
          flex-shrink: 0;
          width: calc(100% / 3);
          display: flex;
          align-items: flex-end;
          justify-content: center; }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper {
            padding-left: 0 !important;
            padding-right: 0 !important; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content {
              width: 385px;
              margin: 0 auto; } }
      @media (max-width: 1299px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table {
          display: block; }
          main.v-pricing-tables div.pricing-tables section.pricing-table > img {
            display: none; }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper {
            position: static;
            padding: 10px !important; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content {
              width: 100%; } }
      @media (max-width: 899px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table {
          width: 100%;
          max-width: 480px;
          margin-left: auto;
          margin-right: auto; } }
      @media (max-width: 729px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper {
          padding: 10px 0 !important; } }

.u-flag {
  height: 30px;
  width: auto; }

div.pt-video-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
  z-index: 12222;
  animation-name: fadeIn;
  animation-duration: 600ms;
  animation-timing-function: ease;
  animation-fill-mode: both; }
  div.pt-video-modal span.vm-close-button {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    div.pt-video-modal span.vm-close-button:after {
      content: "❌";
      transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1); }
    div.pt-video-modal span.vm-close-button:hover:after {
      color: white; }
  div.pt-video-modal div.vm-inner-wrapper {
    background: white;
    width: auto; }
    @media (max-width: 1199px) {
      div.pt-video-modal div.vm-inner-wrapper {
        width: 100%; } }
    div.pt-video-modal div.vm-inner-wrapper video {
      display: block; }
      @media (max-width: 1199px) {
        div.pt-video-modal div.vm-inner-wrapper video {
          width: 100%; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }


/*# sourceMappingURL=app.css.map*/