<!DOCTYPE html>
<html lang="<%= if Map.has_key?(@conn.assigns, :locale), do: @conn.assigns.locale, else: "en" %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= if assigns[:title] do %>
      <title><%= @title %> - PostTrack</title>
    <% else %>
      <title>PostTrack</title>
    <% end %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <!— Global site tag (gtag.js) - Google Analytics —>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120113449-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());

      gtag("config", "UA-120113449-1");

      <%= if assigns[:user] do %>
        gtag("set", {"user_id": "@user.id"});
      <% end %>
    </script>
  </head>

  <body>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
