<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div style="background-color:#EAE2F0;font-family:'Noto Sans',Roboto,Ubuntu,Arial,sans-serif; padding:0 5px">
		<div style="padding:20px 0;text-align:center">
			<img src="https://posttrack.sloenka.com/images/email_logo.png" alt="PostTrack Email">
		</div>

    <div style="background:#FFF;border-radius:6px;margin:0 auto;max-width:480px;padding:20px;width:100%">
      <h1 style="color:#9F41D2;font-size:20px;font-weight:400;margin:0;margin-bottom:20px;opacity:.54;padding:0;text-align:center">
        <%= @title %>
      </h1>

      <%= Phoenix.View.render(PtxWeb.Mailer.Modules, "opening.html", login: @login) %>
      <%= render @view_module, @view_template, assigns %>
      <%= Phoenix.View.render(PtxWeb.Mailer.Modules, "ending.html", []) %>
    </div>

		<div style="font-size:12px;opacity:.54;padding:20px 0;text-align:center">
			<a href="https://pto.sloenka.com/settings" style="color:#493358" target="_BLANK"><%= gettext "Disable notifications!" %></a>
		</div>
	</div>
</body>
</html>