<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Google OAuth</title>
</head>
<body>
  
  <script>
    var timezoneOffset = new Date().getTimezoneOffset();
    var state = <%= raw @state %>;

    if (state !== null) {
      state = JSON.parse(state);
      state["timezone_offset"] = timezoneOffset;

      window.location.replace("/auth/google/request?state=" + encodeURIComponent(JSON.stringify(state)));
    } else {
      window.location.replace("/auth/google/request?state=" + encodeURIComponent(JSON.stringify({ timezone_offset: timezoneOffset })));
    }
  </script>
</body>
</html>