@charset "UTF-8";
html, body {
  position: relative;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  overflow-y: scroll; }

body, body * {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next Cyr";
  font-weight: 500;
  box-sizing: border-box;
  color: inherit; }

@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  src: local("Gotham Pro Regular"), local("GothamPro"), url("/fonts/GothamPro.woff") format("woff"); }
@font-face {
  font-family: "Gotham Pro";
  font-weight: 500;
  src: local("Gotham Pro Medium"), local("GothamProMedium"), url("/fonts/GothamProMedium.woff") format("woff"); }
@font-face {
  font-family: "Gotham Pro";
  font-weight: 700;
  src: local("Gotham Pro Bold"), local("GothamProBold"), url("/fonts/GothamProBold.woff") format("woff"); }
@font-face {
  font-family: "Avenir Next Cyr";
  font-weight: 400;
  src: local("Avenir Next Cyr"), local("AvenirNextCyrRegular"), url("/fonts/AvenirNextCyrRegular.woff") format("woff"); }
@font-face {
  font-family: "Avenir Next Cyr";
  font-weight: 500;
  src: local("Avenir Next Cyr Medium"), local("AvenirNextCyrMedium"), url("/fonts/AvenirNextCyrMedium.woff") format("woff"); }
@font-face {
  font-family: "Avenir Next Cyr";
  font-weight: 700;
  src: local("Avenir Next Cyr Bold"), local("AvenirNextCyrBold"), url("/fonts/AvenirNextCyrBold.woff") format("woff"); }
main.v-pricing-tables {
  background: linear-gradient(45deg, #c993fe, #4132bc);
  padding-top: 80px;
  min-height: 100vh; }
  main.v-pricing-tables h1 {
    font-size: 38px;
    line-height: 50px;
    margin: 45px 0 35px 0;
    text-align: center;
    font-family: "Gotham Pro";
    font-weight: 500;
    color: white; }
    @media (max-width: 729px) {
      main.v-pricing-tables h1 {
        padding: 0 10px;
        font-size: 24px;
        line-height: 25px;
        font-weight: 500;
        margin: 20px 0; } }
  main.v-pricing-tables div.switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    z-index: 2; }
    @media (max-width: 729px) {
      main.v-pricing-tables div.switch-wrapper {
        padding: 0 10px; } }
    main.v-pricing-tables div.switch-wrapper.monthly label.left {
      color: white; }
    main.v-pricing-tables div.switch-wrapper.monthly label.right {
      color: rgba(255, 255, 255, 0.54); }
    main.v-pricing-tables div.switch-wrapper.monthly div.switch div.switch-thumb {
      transform: translateX(-30px) translateZ(0); }
    main.v-pricing-tables div.switch-wrapper.monthly ~ div.pricing-tables section.pricing-table div.content-wrapper div.content span.value:before {
      content: attr(data-monthly); }
    main.v-pricing-tables div.switch-wrapper label {
      flex-grow: 1;
      flex-shrink: 1;
      line-height: 35px;
      font-size: 25px;
      width: 100%;
      font-weight: 400;
      transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1); }
      @media (max-width: 899px) {
        main.v-pricing-tables div.switch-wrapper label {
          font-size: 20px; } }
      @media (max-width: 729px) {
        main.v-pricing-tables div.switch-wrapper label {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-align: center; } }
      main.v-pricing-tables div.switch-wrapper label.left {
        text-align: right;
        color: rgba(255, 255, 255, 0.54); }
      main.v-pricing-tables div.switch-wrapper label.right {
        text-align: left; }
        main.v-pricing-tables div.switch-wrapper label.right span {
          display: inline-block;
          vertical-align: top;
          line-height: 35px;
          padding: 0 10px;
          background: #f69;
          font-size: 20px;
          font-weight: 400;
          color: white !important; }
          @media (max-width: 899px) {
            main.v-pricing-tables div.switch-wrapper label.right span {
              font-size: 18px; } }
          @media (max-width: 729px) {
            main.v-pricing-tables div.switch-wrapper label.right span {
              font-size: 12px;
              font-weight: 700;
              line-height: 20px;
              padding: 0 5px; } }
    main.v-pricing-tables div.switch-wrapper div.switch {
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0 15px;
      width: 60px;
      height: 30px;
      border-radius: 15px;
      background: #513dc3;
      box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.38);
      cursor: pointer; }
      main.v-pricing-tables div.switch-wrapper div.switch div.switch-thumb {
        width: 30px;
        height: 30px;
        margin-left: auto;
        background: linear-gradient(45deg, #a5c63b, #2ecc71);
        border-radius: 50%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
        transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1); }
  main.v-pricing-tables div.pricing-tables {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: -100px; }
    @media (max-width: 1299px) {
      main.v-pricing-tables div.pricing-tables {
        margin-top: 0;
        padding: 55px 10px;
        align-items: center; } }
    @media (max-width: 899px) {
      main.v-pricing-tables div.pricing-tables {
        display: block; } }
    @media (max-width: 729px) {
      main.v-pricing-tables div.pricing-tables {
        padding: 20px 10px; } }
    main.v-pricing-tables div.pricing-tables section.pricing-table {
      position: relative; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.disabled {
        opacity: 0.38;
        pointer-events: none;
        filter: grayscale(100%); }
        main.v-pricing-tables div.pricing-tables section.pricing-table.disabled > img {
          opacity: 0; }
        main.v-pricing-tables div.pricing-tables section.pricing-table.disabled div.content-wrapper div.content div.actions .main-action {
          box-shadow: none; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.trial div.content-wrapper {
        padding: 155px 102px 364px 102px; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.trial div.subprice {
        color: #f48e17; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.trial .main-action {
        background: linear-gradient(135deg, #fbbc05, #f38b18) !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.trial .subaction {
        color: #f48e17;
        border-color: #f48e17 !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.basic div.content-wrapper {
        padding: 162px 102px 364px 102px; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.basic div.subprice {
        color: #34a853; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.basic .main-action {
        background: linear-gradient(135deg, #a5c63b, #2ecc71) !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.basic .subaction {
        color: #7fa720;
        border-color: #7fa720 !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.pro div.content-wrapper {
        padding: 172px 102px 364px 102px; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.pro div.subprice {
        color: #5340c5; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.pro .main-action {
        background: linear-gradient(135deg, #be8bf9, #4032bc) !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table.pro .subaction {
        color: #8160db;
        border-color: #8160db !important; }
      main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content {
          width: 100%;
          background: white;
          padding: 25px;
          padding-bottom: 48px; }
          @media (max-width: 1199px) {
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content {
              padding: 15px; } }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content span.value:before {
            content: attr(data-yearly); }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content h2 {
            line-height: 70px;
            font-size: 30px;
            text-align: center;
            font-weight: 400; }
            @media (max-width: 1199px) {
              main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content h2 {
                font-size: 24px;
                line-height: 60px; } }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper {
            text-align: center; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price {
              line-height: 70px;
              height: 70px;
              font-size: 56px; }
              @media (max-width: 1199px) {
                main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price {
                  line-height: 52px;
                  height: 52px;
                  font-size: 36px; } }
              main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price span {
                font-weight: 700; }
                main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price span.before {
                  font-size: 33px; }
                  @media (max-width: 1199px) {
                    main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price span.before {
                      font-size: 24px; } }
                main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price span.after {
                  font-size: 20px; }
                  @media (max-width: 1199px) {
                    main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.main-price span.after {
                      font-size: 18px; } }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.subprice {
              font-size: 18px;
              line-height: 35px;
              font-family: "Gotham Pro";
              font-weight: 500; }
              @media (max-width: 1199px) {
                main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.price-wrapper div.subprice {
                  font-size: 16px;
                  line-height: 30px; } }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions {
            margin-top: 25px; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions a {
              text-decoration: none; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .main-action {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              max-width: 320px;
              margin: 0 auto;
              text-align: center;
              background: black;
              font-size: 17px;
              line-height: 27px;
              font-weight: 400;
              font-family: "Gotham Pro";
              color: white;
              height: 50px;
              border-radius: 25px;
              box-shadow: 0 5px 15px 1px rgba(217, 217, 217, 0.64); }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .subaction {
              pointer-events: all !important;
              cursor: pointer;
              display: flex;
              width: 100%;
              max-width: 300px;
              margin: 0 auto;
              margin-top: 25px;
              align-items: center;
              justify-content: space-between;
              border: 2px solid black;
              padding: 0 10px; }
              main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .subaction span {
                font-size: 15px;
                font-weight: 400;
                font-family: "Gotham Pro";
                line-height: 20px; }
                @media (max-width: 1199px) {
                  main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .subaction span {
                    font-size: 14px; } }
              main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .subaction img {
                width: 54px;
                height: 54px;
                margin-left: 10px; }
                @media (max-width: 1199px) {
                  main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content div.actions .subaction img {
                    width: 48px;
                    height: 48px; } }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content ul.benefits {
            margin-bottom: 10px;
            padding-left: 40px;
            margin-top: 25px; }
            @media (max-width: 1199px) {
              main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content ul.benefits {
                padding-left: 20px; } }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content ul.benefits li {
              margin-bottom: 5px;
              font-size: 17px;
              font-weight: 400;
              font-family: "Gotham Pro";
              line-height: 22px; }
              @media (max-width: 1199px) {
                main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content ul.benefits li {
                  font-size: 14px;
                  line-height: 20px; } }
      @media (max-width: 1600px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table {
          flex-grow: 0;
          flex-shrink: 0;
          width: calc(100% / 3);
          display: flex;
          align-items: flex-end;
          justify-content: center; }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper {
            padding-left: 0 !important;
            padding-right: 0 !important; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content {
              width: 385px;
              margin: 0 auto; } }
      @media (max-width: 1299px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table {
          display: block; }
          main.v-pricing-tables div.pricing-tables section.pricing-table > img {
            display: none; }
          main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper {
            position: static;
            padding: 10px !important; }
            main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper div.content {
              width: 100%; } }
      @media (max-width: 899px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table {
          width: 100%;
          max-width: 480px;
          margin-left: auto;
          margin-right: auto; } }
      @media (max-width: 729px) {
        main.v-pricing-tables div.pricing-tables section.pricing-table div.content-wrapper {
          padding: 10px 0 !important; } }

.u-flag {
  height: 30px;
  width: auto; }

div.pt-video-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
  z-index: 12222;
  animation-name: fadeIn;
  animation-duration: 600ms;
  animation-timing-function: ease;
  animation-fill-mode: both; }
  div.pt-video-modal span.vm-close-button {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    div.pt-video-modal span.vm-close-button:after {
      content: "❌";
      transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1); }
    div.pt-video-modal span.vm-close-button:hover:after {
      color: white; }
  div.pt-video-modal div.vm-inner-wrapper {
    background: white;
    width: auto; }
    div.pt-video-modal div.vm-inner-wrapper video {
      display: block; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }